.big-circle {
	border: solid white;
	border-radius: 360%;
	width: 500px;
	height: 500px;
	margin: 0 auto;

}

.top-circle {
	width: 500px;
	height: 250px;
	position: absolute;

	/*border: solid red;
	border-radius: 360% 360% 0 0;*/

/*	border-top-left-radius: 360%;
	border-top-right-radius: 360%;*/
}

.bottom-circle {
	width: 500px;
	height: 250px;
	position: absolute;
	margin-top: 250px;
	display: block;

	/*border: solid blue;
	border-radius: 0 0 360% 360%;*/
	/*position: absolute;
	border: solid red;
	border-radius: 0 0 360% 360%;*/
}

.top-left {
	width: 244px;
	height: 245px;
	float: left;
	border: solid white;
	border-radius: 360% 0 0 0;
	background: red;
	cursor: pointer;
}

/*.background.red {
	background: red;

}*/

.top-right {
	width: 244px;
	height: 245px;
	float: right;
	border: solid white;
	border-radius: 0 360% 0 0;
	background: yellow;
	cursor: pointer;
}
/*.background.yellow {
	background: yellow;
}*/

.bottom-left {
	width: 244px;
	height: 245px;
	float: left;
	border: solid white;
	border-radius: 0 0 0 360%;
	background: green;
	cursor: pointer;
}

/*.background.green {
	background: green;*/


.bottom-right {
	
	width: 244px;
	height: 245px;
	float: right;
	border: solid white;
	border-radius: 0 0 360% 0;
	background: blue;
	cursor: pointer;
}

/*.background.blue {
	background: blue;*/


.hidden {
	visibility: hidden;
}

.start {
	font-family: helvetica;
	font-size: 24px;
	font-weight: lighter;
	cursor: pointer;
}

.points {
	font-family: helvetica;
	font-size: 20px;
	font-weight: lighter;
	margin-top: 25px;
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 125px;
	margin-top: 25px;
}

.checker {
	font-family: helvetica;
	font-size: 18px;
	font-weight: lighter;
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 50px;
	margin-right: 50px;
	cursor: pointer;
}

.restart {
	font-family: helvetica;
	font-weight: lighter;
	font-size: 20px;
	left: 0;
	margin-top: 25px;
	cursor: pointer;
}

.play {
	font-family: helvetica;
	font-size: 24px;
	font-weight: lighter;
	cursor: pointer;
	margin-top: 15px;
	left: 0;
}









