.big-circle {
	border: solid black;
	border-radius: 360%;
	width: 500px;
	height: 500px;
	margin: 0 auto;
}

.top-circle {
	width: 500px;
	height: 250px;
	position: absolute;
	border: solid red;
	border-radius: 360% 360% 0 0;
	top: 20px;
/*	border-top-left-radius: 360%;
	border-top-right-radius: 360%;*/
}

.bottom-circle {
	width: 500px;
	height: 250px;
	/*position: absolute;
	border: solid red;
	border-radius: 0 0 360% 360%;*/
}
